canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
table, th, td {
  border: 1px solid black;
  width: 45px;
  height: 20px;
}
